:root {
    --uabc-green:  #00723F;
    --uabc-yellow: #DD971A;
    --uabc-blue: #20419A;
    --height-footer: 0px;
}

.container {
    min-height: calc(100% - 8rem - var(--height-footer));
}

.toolbar {
    height: calc(var(--toolbar-height) + 10px) !important;
    background: var(--uabc-green) !important;
    border-bottom: 10px solid var(--uabc-yellow) !important;
}

.toolbar button,
.toolbar .profile-bar {
    color: white !important;
}

.toolbar .profile-bar:hover {
    color: var(--primary-color) !important;
}

.ui-avatar {
    background: var(--surface-c) !important;
}

.ui-datatable .ui-datatable-data .ui-datatable-even {
    border-top: 1px solid var(--surface-ground) !important;
    border-bottom: 1px solid var(--surface-ground) !important;
}

.menu-accordion button {
    width: 100% !important;
    text-align: left !important;
}

.menu-accordion .ui-state-active,
.menu-accordion .ui-state-focus {
    border: 0 !important;
    box-shadow: none !important;
}

footer {
    margin: 3rem 2rem;
    display: grid;
    justify-items: center;
    gap: 0.4rem;
    text-align: center;
}

footer .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

footer .logos img {
    width: 100%;
    max-width: 15rem;
    max-height: 6rem;
    object-fit: contain;
}

footer .logos img:first-child {
    object-position: right;
}

footer .logos img:last-child {
    object-position: left;
}

.section-text p {
    margin: 0;
}

.section-text h1 {
    font-size: 1.5rem !important;
    text-transform: uppercase;
    margin: 0;
}

.section-text-code {
    display: grid;
    gap: 0.5rem;
}

.section-text-code span {
    font-weight: bold;
}

.section-code {
    padding: 1rem;
    background: var(--surface-border);
    border-radius: 5px;
    overflow-x: auto;
    display: flex;
    letter-spacing: 1px;
    font-weight: bold;
}

@media screen and (max-width: 450px) {
    footer .logos {
        grid-template-columns: 1fr !important;
    }

    footer .logos img:first-child,
    footer .logos img:last-child {
        object-position: center !important;
    }
}