:root {
    --columns: 3;
    --table-height: calc(7 * 2rem);
    --graphic-height: 16rem;
}

.container {
    display: grid;
    gap: 2rem;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
}

#filters p {
    margin: 0 !important;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.filter-group {
    display: grid;
    grid-template-rows: auto 1fr;
}

.filter-group .filter-groups-checkbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card {
    margin-bottom: 0 !important;
}

.card .content-card {
    display: grid;
    /*grid-template-rows: var(--table-height) var(--graphic-height);*/
    grid-template-rows: var(--graphic-height) auto;
    gap: 1rem;
}

.card .content-card .table {
    min-height: 4rem;
}

#tables {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 2rem;
}

.ui-button-warning {
    background: var(--uabc-yellow) !important;
    border: 1px solid var(--uabc-yellow) !important;
    color: white !important;
}

table, th, td {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    padding: 2px 8px;
}

@media screen and (max-width: 650px) {
    .filter-group {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    #tables {
        --columns: 2;
    }
}

@media screen and (max-width: 990px) {
    #tables {
        --columns: 1;
    }
}